#imported from workspace

In [0]:
%run "/Users/harshith.r@diggibyte.com/common_functions"

In [0]:
%run "/Users/harshith.r@diggibyte.com/Schema"

Read the csv to DF

In [0]:
file_path ="/FileStore/tables/sample_csv.csv"
df_csv=read_file("csv",file_path,schema=Schema_employee,header=True)
display(df_csv)

id,name,age,city
1,John,25,New York
2,Jane,30,Los Angeles
3,David,35,Chicago
4,Sarah,28,Miami
5,Michael,32,Seattle
6,Sarah,28,Miami
7,Emma,40,San Francisco
8,Brian,45,null
9,Emily,null,Null
10,Matthew,27,Houston
11,John,26,Dallas
12,Chris,31,Chicago
13,Amy,29,Null
14,Emily,27,Houston
15,Michael,32,Seattle
16,Olivia,33,New York
17,John,25,Los Angeles
18,David,35,Chicago
19,Emma,40,San Francisco
20,Brian,45,null
21,John,26,Dallas
22,Emily,27,Houston
23,Michael,32,Seattle
24,Alex,30,Null
25,John,25,Los Angeles
26,David,35,Chicago
27,Sarah,28,Miami
28,Sarah,28,Miami
29,Emma,40,San Francisco
30,Brian,45,null
31,John,26,Dallas
32,Chris,31,Chicago
33,Amy,29,Null
34,Emily,27,Houston
35,Michael,32,Seattle
36,Olivia,33,New York
37,John,25,Los Angeles
38,David,35,Chicago
39,Emma,40,San Francisco
40,Brian,45,null
41,John,26,Dallas
42,Emily,27,Houston
43,Michael,32,Seattle
44,Alex,30,Null
45,John,25,Los Angeles
46,David,35,Chicago
47,Sarah,28,Miami
48,Sarah,28,Miami
49,Emma,40,San Francisco
50,Brian,45,null
51,John,26,Dallas
52,Chris,31,Chicago
53,Amy,29,Null
54,Emily,27,Houston
55,Michael,32,Seattle
56,Olivia,33,New York
57,John,25,Los Angeles
58,David,35,Chicago
59,Emma,40,San Francisco
60,Brian,45,null
61,John,26,Dallas
62,Emily,27,Houston
63,Michael,32,Seattle
64,Alex,30,Null
65,John,25,Los Angeles
66,David,35,Chicago
67,Sarah,28,Miami
68,Sarah,28,Miami
69,Emma,40,San Francisco
70,Brian,45,null
71,John,26,Dallas
72,Chris,31,Chicago
73,Amy,29,Null
74,Emily,27,Houston
75,Michael,32,Seattle
76,Olivia,33,New York
77,John,25,Los Angeles
78,David,35,Chicago
79,Emma,40,San Francisco
80,Brian,45,null
81,John,26,Dallas
82,Emily,27,Houston
83,Michael,32,Seattle
84,Alex,30,Null
85,John,25,Los Angeles
86,David,35,Chicago
87,Sarah,28,Miami
88,Sarah,28,Miami
92,Chris,31,Chicago
89,Emma,40,San Francisco
91,John,26,Dallas
90,Brian,45,null

Write the file

In [0]:
path="/FileStore/Bronze_layer/parquet_Employee"
write_file(df_csv,"parquet",path)

Read Json to df

In [0]:
path_json="dbfs:/FileStore/tables/sample_json_1.json"
df_json =read_file("json",path_json,schema=schema_project,multiline=True)
df_json.printSchema()

root
 |-- department: string (nullable = true)
 |-- id: long (nullable = true)
 |-- projects: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- status: string (nullable = true)
 |-- salary: long (nullable = true)

explode json

In [0]:
df_json_flat=explode_json(df_json)

In [0]:
path="/FileStore/Bronze_layer/parquet_Projects"
write_file(df_json_flat,"parquet",path)

Remane the columns

In [0]:
df_csv_column_renamed=rename_all_columns_to_lowercase(df_csv)
df_json_column_renamed=rename_all_columns_to_lowercase(df_json_flat)

Drop duplicates and replace null

In [0]:
df_csv_dropDup_null_replaced=remove_duplicates_replace_null(df_csv_column_renamed)
df_json_dropDup_null_replaced=remove_duplicates_replace_null(df_json_column_renamed)

In [0]:
path="/FileStore/Sliver_layer/parquet_Employee"
write_file(df_csv_dropDup_null_replaced,"parquet",path)

In [0]:
path="/FileStore/Sliver_layer/parquet_Projects"
write_file(df_json_dropDup_null_replaced,"parquet",path)

Join Table

In [0]:
df_joined=join_table(df_csv_dropDup_null_replaced,df_json_dropDup_null_replaced,'id','id','outer')

In [0]:
path="/FileStore/Gold_layer/parquet_Employee_Projects"
write_file(df_joined,"parquet",path)

In [0]:
display(df_joined)

id,name,age,city,department,salary,status,project_name
1,John,25,New York,Sales,50000,In Progress,Project B
1,John,25,New York,Sales,50000,Completed,Project A
2,Jane,30,Los Angeles,Marketing,60000,In Progress,Project D
2,Jane,30,Los Angeles,Marketing,60000,Completed,Project C
3,David,35,Chicago,null,null,null,null
4,Sarah,28,Miami,HR,55000,Completed,Project E
5,Michael,32,Seattle,IT,65000,In Progress,Project F
5,Michael,32,Seattle,IT,65000,In Progress,Project G
6,Sarah,28,Miami,HR,55000,Completed,Project H
6,Sarah,28,Miami,HR,55000,In Progress,Project I
7,Emma,40,San Francisco,IT,75000,Completed,Project J
7,Emma,40,San Francisco,IT,75000,In Progress,Project K
8,Brian,45,null,Finance,90000,Completed,Project L
8,Brian,45,null,Finance,90000,Completed,Project M
9,Emily,0,Null,Marketing,0,In Progress,Project N
10,Matthew,27,Houston,IT,80000,Completed,Project O
10,Matthew,27,Houston,IT,80000,In Progress,Project P
11,John,26,Dallas,Sales,45000,In Progress,Project Q
11,John,26,Dallas,Sales,45000,In Progress,Project R
12,Chris,31,Chicago,Marketing,70000,In Progress,Project T
12,Chris,31,Chicago,Marketing,70000,Completed,Project S
13,Amy,29,Null,null,null,null,null
14,Emily,27,Houston,HR,50000,Completed,Project U
15,Michael,32,Seattle,IT,55000,In Progress,Project V
15,Michael,32,Seattle,IT,55000,In Progress,Project W
16,Olivia,33,New York,HR,50000,Completed,Project X
16,Olivia,33,New York,HR,50000,In Progress,Project Y
17,John,25,Los Angeles,IT,75000,Completed,Project Z
17,John,25,Los Angeles,IT,75000,In Progress,Project A1
18,David,35,Chicago,Finance,80000,Completed,Project B1
18,David,35,Chicago,Finance,80000,Completed,Project C1
19,Emma,40,San Francisco,Marketing,0,In Progress,Project D1
20,Brian,45,null,IT,85000,In Progress,Project F1
20,Brian,45,null,IT,85000,Completed,Project E1
21,John,26,Dallas,Sales,55000,In Progress,Project G1
21,John,26,Dallas,Sales,55000,In Progress,Project H1
22,Emily,27,Houston,Marketing,65000,In Progress,Project J1
22,Emily,27,Houston,Marketing,65000,Completed,Project I1
23,Michael,32,Seattle,null,null,null,null
24,Alex,30,Null,HR,50000,Completed,Project K1
25,John,25,Los Angeles,IT,55000,In Progress,Project M1
25,John,25,Los Angeles,IT,55000,In Progress,Project L1
26,David,35,Chicago,HR,50000,Completed,Project N1
26,David,35,Chicago,HR,50000,In Progress,Project O1
27,Sarah,28,Miami,IT,75000,Completed,Project P1
27,Sarah,28,Miami,IT,75000,In Progress,Project Q1
28,Sarah,28,Miami,Finance,80000,Completed,Project R1
28,Sarah,28,Miami,Finance,80000,Completed,Project S1
29,Emma,40,San Francisco,Marketing,0,In Progress,Project T1
30,Brian,45,null,IT,85000,Completed,Project U1
30,Brian,45,null,IT,85000,In Progress,Project V1
31,John,26,Dallas,Sales,45000,In Progress,Project W1
31,John,26,Dallas,Sales,45000,In Progress,Project X1
32,Chris,31,Chicago,Marketing,70000,In Progress,Project Z1
32,Chris,31,Chicago,Marketing,70000,Completed,Project Y1
33,Amy,29,Null,null,null,null,null
34,Emily,27,Houston,HR,50000,Completed,Project A2
35,Michael,32,Seattle,IT,55000,In Progress,Project C2
35,Michael,32,Seattle,IT,55000,In Progress,Project B2
36,Olivia,33,New York,HR,50000,In Progress,Project E2
36,Olivia,33,New York,HR,50000,Completed,Project D2
37,John,25,Los Angeles,IT,75000,Completed,Project F2
37,John,25,Los Angeles,IT,75000,In Progress,Project G2
38,David,35,Chicago,Finance,80000,Completed,Project I2
38,David,35,Chicago,Finance,80000,Completed,Project H2
39,Emma,40,San Francisco,Marketing,0,In Progress,Project J2
40,Brian,45,null,IT,85000,Completed,Project K2
40,Brian,45,null,IT,85000,In Progress,Project L2
41,John,26,Dallas,Sales,55000,In Progress,Project M2
41,John,26,Dallas,Sales,55000,In Progress,Project N2
42,Emily,27,Houston,Marketing,65000,In Progress,Project P2
42,Emily,27,Houston,Marketing,65000,Completed,Project O2
43,Michael,32,Seattle,null,null,null,null
44,Alex,30,Null,HR,50000,Completed,Project Q2
45,John,25,Los Angeles,IT,55000,In Progress,Project S2
45,John,25,Los Angeles,IT,55000,In Progress,Project R2
46,David,35,Chicago,HR,50000,In Progress,Project U2
46,David,35,Chicago,HR,50000,Completed,Project T2
47,Sarah,28,Miami,IT,75000,Completed,Project V2
47,Sarah,28,Miami,IT,75000,In Progress,Project W2
48,Sarah,28,Miami,Finance,80000,Completed,Project X2
48,Sarah,28,Miami,Finance,80000,Completed,Project Y2
49,Emma,40,San Francisco,Marketing,0,In Progress,Project Z2
50,Brian,45,null,IT,85000,In Progress,Project B3
50,Brian,45,null,IT,85000,Completed,Project A3
51,John,26,Dallas,null,null,null,null
52,Chris,31,Chicago,null,null,null,null
53,Amy,29,Null,null,null,null,null
54,Emily,27,Houston,null,null,null,null
55,Michael,32,Seattle,null,null,null,null
56,Olivia,33,New York,null,null,null,null
57,John,25,Los Angeles,null,null,null,null
58,David,35,Chicago,null,null,null,null
59,Emma,40,San Francisco,null,null,null,null
60,Brian,45,null,null,null,null,null
61,John,26,Dallas,null,null,null,null
62,Emily,27,Houston,null,null,null,null
63,Michael,32,Seattle,null,null,null,null
64,Alex,30,Null,null,null,null,null
65,John,25,Los Angeles,null,null,null,null
66,David,35,Chicago,null,null,null,null
67,Sarah,28,Miami,null,null,null,null
68,Sarah,28,Miami,null,null,null,null
69,Emma,40,San Francisco,null,null,null,null
70,Brian,45,null,null,null,null,null
71,John,26,Dallas,null,null,null,null
72,Chris,31,Chicago,null,null,null,null
73,Amy,29,Null,null,null,null,null
74,Emily,27,Houston,null,null,null,null
75,Michael,32,Seattle,null,null,null,null
76,Olivia,33,New York,null,null,null,null
77,John,25,Los Angeles,null,null,null,null
78,David,35,Chicago,null,null,null,null
79,Emma,40,San Francisco,null,null,null,null
80,Brian,45,null,null,null,null,null
81,John,26,Dallas,null,null,null,null
82,Emily,27,Houston,null,null,null,null
83,Michael,32,Seattle,null,null,null,null
84,Alex,30,Null,null,null,null,null
85,John,25,Los Angeles,null,null,null,null
86,David,35,Chicago,null,null,null,null
87,Sarah,28,Miami,null,null,null,null
88,Sarah,28,Miami,null,null,null,null
89,Emma,40,San Francisco,null,null,null,null
90,Brian,45,null,null,null,null,null
91,John,26,Dallas,null,null,null,null
92,Chris,31,Chicago,null,null,null,null

Deleate records

In [0]:
values=[31,40,7,15]
df_final=deleate_record(df_joined,'id',values)
df_final.display()

id,name,age,city,department,salary,status,project_name
58,David,35,Chicago,null,null,null,null
12,Chris,31,Chicago,Marketing,70000,Completed,Project S
12,Chris,31,Chicago,Marketing,70000,In Progress,Project T
21,John,26,Dallas,Sales,55000,In Progress,Project H1
21,John,26,Dallas,Sales,55000,In Progress,Project G1
26,David,35,Chicago,HR,50000,In Progress,Project O1
26,David,35,Chicago,HR,50000,Completed,Project N1
48,Sarah,28,Miami,Finance,80000,Completed,Project Y2
48,Sarah,28,Miami,Finance,80000,Completed,Project X2
54,Emily,27,Houston,null,null,null,null
68,Sarah,28,Miami,null,null,null,null
35,Michael,32,Seattle,IT,55000,In Progress,Project B2
35,Michael,32,Seattle,IT,55000,In Progress,Project C2
85,John,25,Los Angeles,null,null,null,null
41,John,26,Dallas,Sales,55000,In Progress,Project N2
41,John,26,Dallas,Sales,55000,In Progress,Project M2
63,Michael,32,Seattle,null,null,null,null
74,Emily,27,Houston,null,null,null,null
6,Sarah,28,Miami,HR,55000,In Progress,Project I
6,Sarah,28,Miami,HR,55000,Completed,Project H
33,Amy,29,Null,null,null,null,null
45,John,25,Los Angeles,IT,55000,In Progress,Project R2
45,John,25,Los Angeles,IT,55000,In Progress,Project S2
92,Chris,31,Chicago,null,null,null,null
61,John,26,Dallas,null,null,null,null
60,Brian,45,null,null,null,null,null
67,Sarah,28,Miami,null,null,null,null
18,David,35,Chicago,Finance,80000,Completed,Project C1
18,David,35,Chicago,Finance,80000,Completed,Project B1
87,Sarah,28,Miami,null,null,null,null
50,Brian,45,null,IT,85000,Completed,Project A3
50,Brian,45,null,IT,85000,In Progress,Project B3
64,Alex,30,Null,null,null,null,null
71,John,26,Dallas,null,null,null,null
42,Emily,27,Houston,Marketing,65000,Completed,Project O2
42,Emily,27,Houston,Marketing,65000,In Progress,Project P2
38,David,35,Chicago,Finance,80000,Completed,Project H2
38,David,35,Chicago,Finance,80000,Completed,Project I2
24,Alex,30,Null,HR,50000,Completed,Project K1
79,Emma,40,San Francisco,null,null,null,null
47,Sarah,28,Miami,IT,75000,In Progress,Project W2
47,Sarah,28,Miami,IT,75000,Completed,Project V2
23,Michael,32,Seattle,null,null,null,null
11,John,26,Dallas,Sales,45000,In Progress,Project R
11,John,26,Dallas,Sales,45000,In Progress,Project Q
75,Michael,32,Seattle,null,null,null,null
32,Chris,31,Chicago,Marketing,70000,Completed,Project Y1
32,Chris,31,Chicago,Marketing,70000,In Progress,Project Z1
1,John,25,New York,Sales,50000,Completed,Project A
1,John,25,New York,Sales,50000,In Progress,Project B
56,Olivia,33,New York,null,null,null,null
8,Brian,45,null,Finance,90000,Completed,Project M
8,Brian,45,null,Finance,90000,Completed,Project L
5,Michael,32,Seattle,IT,65000,In Progress,Project G
5,Michael,32,Seattle,IT,65000,In Progress,Project F
86,David,35,Chicago,null,null,null,null
78,David,35,Chicago,null,null,null,null
84,Alex,30,Null,null,null,null,null
49,Emma,40,San Francisco,Marketing,0,In Progress,Project Z2
73,Amy,29,Null,null,null,null,null
16,Olivia,33,New York,HR,50000,In Progress,Project Y
16,Olivia,33,New York,HR,50000,Completed,Project X
30,Brian,45,null,IT,85000,In Progress,Project V1
30,Brian,45,null,IT,85000,Completed,Project U1
9,Emily,0,Null,Marketing,0,In Progress,Project N
65,John,25,Los Angeles,null,null,null,null
70,Brian,45,null,null,null,null,null
4,Sarah,28,Miami,HR,55000,Completed,Project E
72,Chris,31,Chicago,null,null,null,null
88,Sarah,28,Miami,null,null,null,null
90,Brian,45,null,null,null,null,null
10,Matthew,27,Houston,IT,80000,In Progress,Project P
10,Matthew,27,Houston,IT,80000,Completed,Project O
22,Emily,27,Houston,Marketing,65000,Completed,Project I1
22,Emily,27,Houston,Marketing,65000,In Progress,Project J1
82,Emily,27,Houston,null,null,null,null
20,Brian,45,null,IT,85000,Completed,Project E1
20,Brian,45,null,IT,85000,In Progress,Project F1
2,Jane,30,Los Angeles,Marketing,60000,Completed,Project C
2,Jane,30,Los Angeles,Marketing,60000,In Progress,Project D
34,Emily,27,Houston,HR,50000,Completed,Project A2
89,Emma,40,San Francisco,null,null,null,null
37,John,25,Los Angeles,IT,75000,In Progress,Project G2
37,John,25,Los Angeles,IT,75000,Completed,Project F2
39,Emma,40,San Francisco,Marketing,0,In Progress,Project J2
55,Michael,32,Seattle,null,null,null,null
76,Olivia,33,New York,null,null,null,null
17,John,25,Los Angeles,IT,75000,In Progress,Project A1
17,John,25,Los Angeles,IT,75000,Completed,Project Z
69,Emma,40,San Francisco,null,null,null,null
59,Emma,40,San Francisco,null,null,null,null
51,John,26,Dallas,null,null,null,null
83,Michael,32,Seattle,null,null,null,null
57,John,25,Los Angeles,null,null,null,null
53,Amy,29,Null,null,null,null,null
80,Brian,45,null,null,null,null,null
62,Emily,27,Houston,null,null,null,null
46,David,35,Chicago,HR,50000,Completed,Project T2
46,David,35,Chicago,HR,50000,In Progress,Project U2
91,John,26,Dallas,null,null,null,null
13,Amy,29,Null,null,null,null,null
43,Michael,32,Seattle,null,null,null,null
52,Chris,31,Chicago,null,null,null,null
19,Emma,40,San Francisco,Marketing,0,In Progress,Project D1
36,Olivia,33,New York,HR,50000,Completed,Project D2
36,Olivia,33,New York,HR,50000,In Progress,Project E2
44,Alex,30,Null,HR,50000,Completed,Project Q2
14,Emily,27,Houston,HR,50000,Completed,Project U
29,Emma,40,San Francisco,Marketing,0,In Progress,Project T1
81,John,26,Dallas,null,null,null,null
66,David,35,Chicago,null,null,null,null
3,David,35,Chicago,null,null,null,null
25,John,25,Los Angeles,IT,55000,In Progress,Project L1
25,John,25,Los Angeles,IT,55000,In Progress,Project M1
27,Sarah,28,Miami,IT,75000,In Progress,Project Q1
27,Sarah,28,Miami,IT,75000,Completed,Project P1
77,John,25,Los Angeles,null,null,null,null
28,Sarah,28,Miami,Finance,80000,Completed,Project S1
28,Sarah,28,Miami,Finance,80000,Completed,Project R1